name: CI - Test & Coverage

on:
  push:
    branches:
      - main
      - testcode
  pull_request:
    branches:
      - main

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x ./se-tetris-team6/gradlew

      - name: Run Tests with JaCoCo
        run: |
          cd se-tetris-team6
          ./gradlew clean test jacocoTestReport

      - name: Upload HTML coverage report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-html-report
          path: se-tetris-team6/app/build/reports/jacoco/test/html
          retention-days: 7

      - name: Upload XML coverage report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-xml-report
          path: se-tetris-team6/app/build/reports/jacoco/test/jacocoTestReport.xml
          retention-days: 7